.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden; 
  }
  
  .image-container img {
    width: 100%; /* image fill the entire width of its container */
    height: 100%; /* image fill the entire height of its container */
    object-fit: cover;
  }
  

  .selection-container {
    display: inline-block;
    margin-right: 20px; 
  }
  

  
  .label {
    font-weight: bold;
  }
  
  .dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
  }
  
  .dropdown:hover {
    background-color: #e9e9e9;
  }
  
  .dropdown:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  

 
  @media (max-width: 768px) {
    .news-container {
      justify-content: flex-start;
      width: 85%;
    }
  
    .card {
      width: calc(50% - 20px); 
      margin: 10px;
    }
  }
  